<header class="site-header" role="banner">
    <div class="container">
        <a class="branding" href="{{site.baseurl}}/">
            <img class="branding__logo" src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Site Name">
        </a>
        <nav class="site-nav">
            <a href="{{ "/adherer/" | prepend: site.baseurl }}">adhérer</a>
            <a href="{{ "/status/" | prepend: site.baseurl }}">status</a>
            <a href="https://twitter.com/okiwi_fr">twitter</a>
        </nav>
    </div>
</header>
